* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  html {
    scroll-behavior: smooth;
  }
  
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: black;
  }

  body a{
    text-decoration: none;
  }
  
  
  /* BARRA DE NAVEGACION */
  .navbar {
    display: flex;
    background-color: #FFD700;
    padding: 20px;
  }
  
  .logo{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 2%;
  }


  .navbar ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    
  }
  
  .navbar li {
    margin-right: 5%;
  }
  
  .navbar a {
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  /* INICIO HEADER */
  .inicio-header {
    width: 80%;
    margin: 0 auto;
    padding: 2%;

  }

  .texto-inicio{
    padding: 5% 1% 0% 1% ;
    text-align: center;
    font-weight: bolder;
  }

  .texto-inicio h1{
    font-size: 3.5em;

  }

  .texto-inicio p{
    font-size: 1em;

  }
  
  .inicio-img {
    width: 50%;
    margin: auto;
  }

  .imagen-inicio{
    width: 100%;
   
  }

  
  .boton-abrir {
    display: flex;
    justify-content: center;
    margin-top: 1%;
  }

  .boton-abrir a{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #FFD700;
    border: none;
    border-radius: 15px;
    padding: 0.8% 1.5%;
  }

  .minitexto-inicio ul {
    display: flex;
    margin-top: 15%;
    padding-bottom: 5%;
    justify-content: space-between;
    list-style: none;
    color: black;
    

  }

  .minitexto-inicio ul li{
    margin: 2%;

  }
  
  .minitexto-inicio ul li a{
    text-decoration: none;
    color: black;

  }

  
  /* SOBRE MI */
  .sobremi {
    background-image: url(img/Texturelabs_Paper_316XL\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 5% 0 5% 0;
    
  }
 
  
  .sobremi-contenido {
    display: flex;
    width: 90%;
    margin: auto;
  }

  .sobremi .sobremi-contenido .texto-sobremi h2{
    font-size: 3em;
    color: black;
    text-align: start;
    margin-top: 8%;
  }
  
  .texto-sobremi{
    width: 60%;
    padding: 5%;
  }

  .texto-parrafo-sobremi{
    text-align: justify;
    font-weight: bolder;
    line-height: 1.5em;
    font-size: 1em;
    padding: 5% 5% 5% 10%;
    background-image: url(img/nota-texto-sobremi.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sobremi-img {
    width: 40%;
  }



  .sobremi-img{
    animation: movimiento-x 1s ease-out infinite alternate ;
  }

  @keyframes movimiento-x{
    0%{
      transform: translatey(0px);
    }

    100%{
      transform: translatey(50px);
    }
  }

  .imagen-sobremi{
    width: 100%;
    
  }

  
  .boton-trabajar{
    margin: 5% 0 0 0;

  }

  .imagen-sobremi:hover{
    transform: scale(108%);
    transition: 0.5s ease-in-out;


  }

  .boton-trabajar a{
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #FFD700;
    border: none;
    border-radius: 15px;
    padding: 1% 1.8%;
  }


  .transicion-seccion{
    width: 100%;

  }

  .imagen-transicion{
    width: 100%;
  }





  /* HABILIDADES */
  .habilidades {
    width: 100%;
    background-image: url(img/color-ruido-textura.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .habilidades h2{
    padding: 1%;
    padding-top: 3%;
    font-size: 3em;
  }
  
  .habilidades-contenedor {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
  }
  
  .habilidades-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 2%;
    background-color: #FFD700;
    margin: 1%;
    border-radius: 15px;
  }

  .habilidades-tarjeta {
    animation: movimiento-x 2s ease-in-out infinite alternate ;
  }



  .habilidades-texto{
    margin-top: 5%;
    width: 100%;
  }

  .habilidades-texto h3{
    font-size: 2em;
    padding: 1%;
  }

  .habilidades-texto p {
    text-align: justify;
  }
  
  .habilidades-img {
    width: 18vw;
    height: 20vw;
  }

  .habilidades-img img{
    width: 100%;
    height: 100%;

  }



  
  /* INDICE PROYECTOS */
  .proyectos-destacados {
    background-color: red;
    background-image: url(img/proyectos-dibujo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60em;
    display: flex;
    justify-content: start;
    align-items: end;
    
  }
  
  .indice-proyectos{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5%;
    margin: 2%;

  }

  .lista-proyectos {
    list-style: none;
    line-height: 2.5em;
  }
  
.lista-proyectos li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    padding: 1.5%;
    background-color: #FFD700;
}

.minitexto-proyectos{
    display: flex;
    margin: 5% 5% 8% 5%;
    justify-content: end;
    align-items: end;
}

.minitexto-proyectos a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}





.proyecto1{
    padding: 4%;
    width: 90%;
    margin: auto;
}

.proyecto1 h3{
    font-size: 3em;
    margin-bottom: 3.5%;
    font-weight: bolder;
    color: black;
}

.proyecto1-contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


}

.proyecto1-parrafo{
    width: 30%;
    text-align: justify;
    font-weight: bolder;
    font-size: 1.2em;
}

.proyecto1-img{
    width: 30%;

}

.imagen-proyecto1{
    width: 100%;

}


.trabajo-seccion-proyecto1{
    background-image: url(img/fondo-proyecto1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2%;
}

.trabajo-seccion-proyecto1 ul li{
    list-style: square;
    font-size: 1.3em;
    margin-left: 15%;
   
}

.trabajo-seccion-proyecto1 h3{
   font-size: 2em;
   margin-left: 15%;
   margin-bottom: 3%;
}

.transicion-seccion-proyecto1{
    background-image: url(img/color-ruido-textura.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.transicion-seccion-proyecto1-imagen{
    width: 80%;
}



.proyecto2{
    padding: 4%;
    width: 100%;
    margin: auto;
}

.proyecto2-contenedor{
    width: 100%;
    display: flex;
    
}

.proyecto2-img{
    width: 20%;
    margin: 1%;
}

.imagen-proyecto2{
    width: 100%;
}


.proyecto2-texto{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.proyecto2-texto h3{
    font-size: 3em;
    font-weight: bolder;
    color: black;
    text-align: end;
}

.proyecto2-texto p{
    font-size: 1.2em;
    font-weight: bolder;
    text-align: justify;
}




.trabajo-seccion-proyecto2{
    width: 80%;
    margin: auto;
    padding: 2%;
    display: flex;
    
}

.trabajo-seccion-proyecto2-texto{
    display: flex;
    flex-direction: column;
    margin-right: 5%;

}

.trabajo-seccion-proyecto2-texto ul li{
    list-style: square;
    font-size: 1.3em;
    margin-left: 15%;
   
}

.trabajo-seccion-proyecto2-texto h3{
   font-size: 2em;
   color: #FFD700;
   margin-left: 15%;
   margin-bottom: 3%;
}

.imagen-proyecto2-extra{
    width: 100%;
}




.imagen-seccion-proyecto2{
  background-image: url(img/pagina-textura.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 8%;
  display: flex;
  justify-content: space-between;
}



.imagen-muestra-proyecto2{
padding: 2%;
width: 100%;

}



.proyecto3{
  background-image: url(img/Texturelabs_Paper_316XL\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 2%;
}

.proyecto3-contenedor{
  padding: 5%;
  display: flex;
  justify-content: center;

}

.proyecto3-texto{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2%;

}


.proyecto3-texto-hijo1 h3{
  font-size: 3em;
  margin-bottom: 3%;
    font-weight: bolder;
    color: black;
    text-align: start;
}

.proyecto3-texto-hijo1 p{
  font-size: 1.2em;
  font-weight: bolder;
  text-align: justify;
}

.trabajo-seccion-proyecto3-texto{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 5%;
  margin-top: 5%;

}

.trabajo-seccion-proyecto3-texto ul li{
  list-style: square;
  font-size: 1em;
  margin-left: 5%;
 
}

.trabajo-seccion-proyecto3-texto h3{
 font-size: 1.5em;
 margin-left: 5%;
 margin-bottom: 2%;
}


.proyecto3-img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-proyecto3{
  width: 80%;
}


.proyecto4{
  width: 100%;
  padding: 2%;
}

.proyecto5{
  padding: 4%;
  width: 90%;
  margin: auto;
}

.proyecto5 h3{
  font-size: 3em;
  margin-bottom: 3.5%;
  font-weight: bolder;
  color: black;
}

.proyecto5-contenedor{
  width: 100%;
  display: flex;


}

.proyecto5-parrafo{
  width: 35%;
  text-align: justify;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 5%;
}

.proyecto5-img{
  width: 100%;
  padding: 2%;

}

.imagen-proyecto5{
  width: 100%;

}

.trabajo-seccion-proyecto5{
  background-image: url(img/fondo-proyecto5.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 4%;

}


.trabajo-seccion-proyecto5 ul li{
  list-style: square;
  font-size: 1em;
  margin-left: 5%;
 
}

.trabajo-seccion-proyecto5 h3{
 font-size: 1.5em;
 margin-left: 5%;
 margin-bottom: 2%;
 margin-left: 2%;
}

.imagen-seccion-proyecto5{
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.imagen-seccion-proyecto5{
  animation: movimiento-x 1.5s ease-in-out infinite alternate ;
}

@keyframes movimiento-x{
  0%{
    transform: translatey(0px);
  }

  100%{
    transform: translatey(100px);
  }
}







  /* Contact */
  .contacto {
    padding: 60px 20px;
    background-image: url(img/Texturelabs_Paper_316XL\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .contacto-form {
    background: #FFD700;
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacto-contenedor{
    width: 30%;
    margin: auto;

  }

  .contacto-contenedor h3{
    font-size: 2em;
 margin-bottom: 5%;

  }
  

  .contacto-contenedor p{
    font-size: 1.2em;
  font-weight: bolder;
  text-align: justify;
  margin-bottom: 2%;
  }

  .contacto-form input,
  .contacto-form textarea {
    margin: 1% 0;
    padding: 2%;
    width: 80%;
    border-radius: 15px;
    border: none;
  }

.botones-links ul{
  display: flex;
  justify-content: center;
  
}

.boton-enviar{
  background-color: white;
  border: none;
  font-size: 1em;
  font-weight: bold;
}

  .botones-links ul li{
    list-style: none;
    margin: 2%;
    
  }

  .botones-links ul li a{
    text-decoration: none;
    color: black;
    background-color: #FFD700;
    padding: 0.5em;
    border-radius: 10px;
  }


  /* Footer */
  .footer {
    background-image: url(img/fondo-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .imagen-footer{
    display: flex;
    justify-content: center;
    height: 40vw;
    width: 40vw;
    padding: 2%;
  
  }

  .imagen-footer img{
    width: 100%;
    height: 100%;
  }

  .imagen-footer img{
    animation: movimiento-x 1s ease-out infinite alternate ;
  }

  @keyframes movimiento-x{
    0%{
      transform: translatey(0px);
    }

    100%{
      transform: translatey(50px);
    }
  }

  .imagen-footer:hover{
    transform: scale(108%);
    transition: 0.5s ease-in-out;


  }
  

  .texto-footer {
    display: flex;
    background-color: #FFD700;
    width: 100%;
    padding: 1%;
  }
  .texto-footer ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
  }
  .texto-footer ul li{
    width: 30%;
    list-style: none;
    margin: 2%;
    
  }

  .texto-footer ul li a{
    text-decoration: none;
    color: black;
    padding: 0.5em;
    font-weight: bolder;
    border-radius: 10px;
  }

  .texto-footer-h3{
   margin: auto;
   font-size: 2em;
  }

